{% extends 'base.html.twig' %}

{% block title %}Forcast index{% endblock %}

{% block body %}
    <h1>Forcast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Condition</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forcast in forcasts %}
            <tr>
                <td>{{ forcast.id }}</td>
                <td>{{ forcast.condition }}</td>
                <td>{{ forcast.temperature }}</td>
                <td>{{ forcast.humidity }}</td>
                <td>{{ forcast.date ? forcast.date|date('Y-m-d') : '' }}</td>
                <td>
                {% if is_granted('ROLE_FORECAST_SHOW') %}
                    <a href="{{ path('app_forcast_show', {'id': forcast.id}) }}">show</a>
                {%endif%}
                    {% if is_granted('ROLE_FORECAST_EDIT') %}
                    <a href="{{ path('app_forcast_edit', {'id': forcast.id}) }}">edit</a>
                {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forcast_new') }}">Create new</a>
{% endblock %}
