{% extends 'base.html.twig' %}

{% block title %}Forcast{% endblock %}

{% block body %}
    <h1>Forcast</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forcast.id }}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td>{{ forcast.condition }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ forcast.temperature }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ forcast.humidity }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ forcast.date ? forcast.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forcast_index') }}">back to list</a>

    <a href="{{ path('app_forcast_edit', {'id': forcast.id}) }}">edit</a>

    {{ include('forcast/_delete_form.html.twig') }}
{% endblock %}
